
@font-face {
    font-family: 'monster1'; 
    src: url('monster.otf')
        
  }

h1{
    text-transform: capitalize;
    text-align: center;
    
    font-family:'monster1';
    font-size: 50px;
    letter-spacing: 20px;
    margin-top: 150px;
   
    color: antiquewhite;
    font-size: 50px;
    }
title{
    text-transform: uppercase;
}
.para1{
color: aliceblue;
font-family: 'Courier New', Courier, monospace;
text-align: center;
margin-top: 40px;
line-height: 28px;
}
.btn1{   
       
       
        margin: auto;
        padding: 18px;
      
    
        font-weight: bold;
        
        background-color: #4CAF50;
        color: #fff;
        border: 1px solid #4CAF50;
       
        border-radius: 3px;
        
        transition:0.3s;
      
       
        margin-top: 50px;
        text-transform: capitalize;
 
        
    }

    /* Hover effect for the button */
    .btn1:hover {
        background-color:aqua;
        border-color: aqua;
        color: black;
    }
    .btn1:active {
        background-color:yellow;
        border-color:yellow;
        color: black;
    }
    .para2{
        color: blue;
        font-style: italic;
        font-family: 'monster';
        
       text-align: center;
        width: auto;
        margin-top: 25px;
    }

p{
    color: antiquewhite;
    font-size: 16px;
    margin-top: 2px;
}

.same1{

    margin-top:1px;
}
.dot,.same1{
    margin-top: 48px;
}
.college{
   font-family:serif;
   margin-top: 25px;
   background: grey;
   
   text-align: right;
   display: contents;
   align-content: right;
   
   
}
.astro{
    margin-left: auto;
    width: fit-content;
}


.astro8{
    text-transform: capitalize;
   
    margin-bottom:5px;
    display: block;
    font-size: small;
    font-family:monospace;
  
    margin-left:auto;
}
.college,.astro{
    font-size: smaller;
    
}
.scroll1{
    font-size: 12px;
    text-align:center;
    color:white;
   
}
.scroll{
    font-style: normal;
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;

    color:blueviolet
    ;
}
